<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" label="Openbox 3">
    <separator/>
    <item label="Web Browser">
      <action name="Execute">
        <execute>epiphany</execute>
      </action>
    </item>
    <item label="Terminal emulator">
      <action name="Execute">
        <execute>lxterminal</execute>
      </action>
    </item>
    <item label="File Manager">
      <action name="Execute">
        <execute>pcmanfm</execute>
      </action>
    </item>
    <item label="Text Editor">
      <action name="Execute">
        <execute>geany</execute>
      </action>
    </item>
    <!-- This requires the presence of the 'menu' package to work -->
    <item label="Screenshot">
      <action name="Execute">
        <execute>xfce4-screenshooter</execute>
      </action>
    </item>
    <separator/>
    <menu id="Appearance" label="Settings">
      <item label="Change Wallpaper">
        <action name="Execute">
          <execute>nitrogen ~/Pictures/Wallpapers/</execute>
        </action>
      </item>
      <item label="Desktop Appearance">
        <action name="Execute">
          <execute>lxappearance</execute>
        </action>
      </item>
      <item label="GUI Menu Editor">
        <action name="Execute">
          <execute>obmenu</execute>
        </action>
      </item>
      <item label="Window Appearance">
        <action name="Execute">
          <execute>obconf</execute>
        </action>
      </item>
      <item label="Restart Openbox">
        <action name="Restart"/>
      </item>
      <item label="Reconfigure Openbox">
        <action name="Reconfigure"/>
      </item>
    </menu>
    <separator/>
    <item label="Abiword Word Processor">
      <action name="Execute">
        <execute>abiword</execute>
      </action>
    </item>
    <item label="Evince Document Reader">
      <action name="Execute">
        <execute>evince</execute>
      </action>
    </item>
    <separator/>
    <item label="Gnumeric Spreadsheet">
      <action name="Execute">
        <execute>gnumeric</execute>
      </action>
    </item>
     <item label="Volume">
      <action name="Execute">
        <execute>pavucontrol</execute>
      </action>
    </item>
    <item label="Logout">
      <action name="Execute">
        <execute>bl-exit</execute>
      </action>
    </item>
  </menu>
</openbox_menu>
